.flight-controller-container__date {
    text-align: center;
}

.flight-controller {
    display: flex;
    flex-wrap: nowrap;
    padding: 25px;
}

.flight-controller > div {
    padding: 25px;
}

.aircrafts,
.flights {
    flex: 1 0 25%;
    border: 1px solid #DDD;
    border-radius: 5px;
}

.aircrafts h1,
.flights h1 {
    text-align: center;
}

.aircraft-rotation {
    flex: 1 0 50%;
}